/*========== color */
/*========== size */
/*========== weight */
/*========== font */
body {
  font-family: "TheJamsil5Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  color: #000;
}

/*========== header */
header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  padding: 0 2vw;
  /*===== logoWrapper */
  /*===== navWrapper */
}
header .logoWrapper a {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logoWrapper a .graphicLogo {
  display: flex;
}
header .logoWrapper a .graphicLogo .graphic {
  width: 13px;
  height: 13px;
  display: block;
}
header .logoWrapper a .graphicLogo .graphic:nth-child(1) {
  background-color: #5BCB93;
  border-radius: 13px 0 0 0;
}
header .logoWrapper a .graphicLogo .graphic:nth-child(2) {
  background-color: #FFEE7C;
  border-radius: 0 0 0 13px;
}
header .logoWrapper a .graphicLogo .graphic:nth-child(3) {
  background-color: #DFE1EC;
  border-radius: 0 0 13px 0;
}
header .logoWrapper a .textLogo {
  font-weight: 800;
  font-size: 18px;
  overflow: hidden;
  height: 22px;
}
header .logoWrapper a .textLogo h1 div {
  height: 21px;
  display: inline-block;
}
header .logoWrapper a .textLogo .textLogo_en {
  animation: show 5s linear infinite;
}
@keyframes show {
  0% {
    margin-top: -42px;
  }
  5% {
    margin-top: -21px;
  }
  33% {
    margin-top: -21px;
  }
  38% {
    margin-top: -21px;
  }
  66% {
    margin-top: 0px;
  }
  71% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -42px;
  }
}
header .navWrapper {
  justify-self: end;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 10px;
  padding-right: 2vw;
  line-height: 0.8;
}
header .navWrapper .mainMenu_item {
  width: 100px;
  display: block;
  position: relative;
}
header .navWrapper .mainMenu_item:hover .mainMenu_btn {
  background-color: #5BCB93;
  height: 90px;
}
header .navWrapper .mainMenu_item:hover .subMenu_wrapper {
  display: block;
  top: 30px;
  opacity: 1;
}
header .navWrapper .mainMenu_item .mainMenu_btn {
  transition: 0.3s;
  background-color: transparent;
  padding: 8px;
  width: 90px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
header .navWrapper .mainMenu_item .subMenu_wrapper {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 15px;
  z-index: 99;
  background-color: #fff;
  width: 120px;
  border: 1px solid #5BCB93;
}
header .navWrapper .mainMenu_item .subMenu_wrapper .subMenu_item {
  padding: 15px 8px;
}
header .navWrapper .mainMenu_item .subMenu_wrapper .subMenu_item:hover {
  background-color: #5BCB93;
}

/*========== main */
main {
  /*========== main - home */
  /*========== main - about */
  /*========== main - object */
  /*========== main - notice */
}
main .object {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}
main .object .objectItem {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #5BCB93;
  border-radius: 100% 0 0 0;
}
main .notice {
  margin-top: 200px;
  padding: 0 2vw;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 2fr;
}
main .notice .noticeLeft {
  align-self: start;
  font-weight: 400;
  font-size: 30px;
}
main .notice .noticeRight a {
  border-top: 1px solid #DFE1EC;
  border-bottom: 1px solid #DFE1EC;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .notice .noticeRight a .left h5 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}
main .notice .noticeRight a .left p {
  font-weight: 500;
  font-size: 14px;
}
main .notice .noticeRight a .right {
  font-weight: 600;
  font-size: 14px;
}

/*========== footer */
footer {
  margin-top: 120px;
  /*===== footerTop */
  /*===== footerBottom */
}
footer .footerTop {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footerTop .banner {
  width: 100%;
}
footer .footerTop .banner a {
  width: 100%;
  height: 120px;
  padding: 0 30px;
  background-color: #5BCB93;
  display: flex;
  gap: 30px;
}
footer .footerTop .banner a img {
  align-self: end;
}
footer .footerTop .banner a .textWrapper {
  font-weight: 600;
  align-self: center;
}
footer .footerTop .banner a .textWrapper h6 {
  font-size: 20px;
  margin-bottom: 10px;
}
footer .footerTop .banner a .textWrapper p {
  font-size: 14px;
}
footer .footerTop .bannerRight a {
  background-color: #FFEE7C;
}
footer .footerBottom {
  width: 100%;
  padding: 50px 2vw 60px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #000;
  font-size: 13px;
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */