@import "./var.scss";

body {
  @include font;
}

/*========== header */
header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  
  .logoWrapper {
    a {
    }
  }
}

/*========== main */


/*========== footer */